.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-signup {
  display: flex;
  flex-flow: column;
  width: 40%;
}
