<div class="container">
  <div class="section-title">
    <h1>Event details</h1>
  </div>

  <div class="event-card-details" *ngIf="event">
    <div class="edit-event-btn">
      <button
        class="delete-btn"
        mat-raised-button
        color="warn"
        (click)="deleteEvent(event)">
        Delete Event
      </button>

      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/addEditEvent/', event.id]">
        Edit Event
      </button>
    </div>

    <mat-card class="event">
      <mat-card-header class="header">
        <mat-card-title class="title">
          <h3>{{ event.title }}</h3>
        </mat-card-title>

        <mat-card-subtitle class="subtitle">
          <p>{{ event.location }} - {{ event.date | date: "dd/MM/yyyy" }}</p>
        </mat-card-subtitle>
      </mat-card-header>

      <div class="img">
          <img mat-card-image src="{{imageUrl}}" alt="Photo">
      </div>

      <mat-card-content class="content">
        <p>{{ event.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
