.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#event-card-details {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin: 2%;
  max-width: 800px;
}

#edit-event-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

#delete-btn {
  margin-right: 5px;
}
