.container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 10%;
  margin-top: 2%;
}

#add-event-btn {
  display: flex;
  justify-content: flex-end;
}

button {
  max-width: 100px;
}

table {
  width: 100%;
  margin-top: 10px;
}
