@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Extralight.eot');
  src: url('/assets/fonts/graphik/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Extralight.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Extralight.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Extralight.svg#Graphik-Extralight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Medium.eot');
  src: url('/assets/fonts/graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Medium.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Medium.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Medium.svg#Graphik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Semibold.eot');
  src: url('/assets/fonts/graphik/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Semibold.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Semibold.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Bold.eot');
  src: url('/assets/fonts/graphik/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Bold.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Bold.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Bold.svg#Graphik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Regular.eot');
  src: url('/assets/fonts/graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Regular.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Regular.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Black.eot');
  src: url('/assets/fonts/graphik/Graphik-Black.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Black.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Black.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Black.svg#Graphik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Super';
  src: url('/assets/fonts/graphik/Graphik-Super.eot');
  src: url('/assets/fonts/graphik/Graphik-Super.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Super.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Super.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Super.svg#Graphik-Super') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Light.eot');
  src: url('/assets/fonts/graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Light.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Light.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Light.svg#Graphik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-Thin.eot');
  src: url('/assets/fonts/graphik/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-Thin.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-Thin.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-Thin.svg#Graphik-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik/Graphik-RegularItalic.eot');
  src: url('/assets/fonts/graphik/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/graphik/Graphik-RegularItalic.woff2') format('woff2'),
      url('/assets/fonts/graphik/Graphik-RegularItalic.woff') format('woff'),
      url('/assets/fonts/graphik/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
